<div class="container mt-4">
  <h1>All Spells</h1>

  <div class="mb-4">
    <%= form_with url: spells_path, method: :get, local: true do %>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search spells..." %>
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @spells.each do |spell| %>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= link_to spell.name, spell %></h5>
            <p class="card-text">Type: <%= spell[:type] %></p>
            <p class="card-text">Effect: <%= spell[:effect] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
