<h2><%= @spell.name %></h2>
<p><strong>Incantation:</strong> <%= @spell.incantation %></p>
<p><strong>Effect:</strong> <%= @spell.effect %></p>
<p><strong>Type:</strong> <%= @spell.spell_type %></p>
<p><strong>Light:</strong> <%= @spell.light %></p>
